[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cms"]
	path = cms
	url = https://github.com/subramv/cms
	shallow = true
	registered = true
